.categoriesBlock {
  margin-top: 80px;
}

.gridCategoriesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-top: 30px;
  z-index: 10;
}

.gridCategoriesItem {
  overflow: hidden;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.categoryImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}

.categoryName {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #282828;
}
.categoryName:hover {
    color: #0D50FF;
}

.titleBlock h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  margin: 0 0 10px 0;
  white-space: nowrap;
  color: #282828;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBlockLine {
  width: 100%;
  height: 1px;
  background-color:#DDDDDD;
  margin-left: 32px;
}

.titleBlockButton {
  font-size: 16px;
  font-weight: 500;
  color: #8B8B8B;
  background-color:  #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius:  6px;
  white-space: nowrap;
  padding: 9px 16px;
}

.titleBlockButton:hover {
  color:  #8B8B8B;
  background-color: #F1F3F4;
}

