.selectSort {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.sortTitle {
  font-weight: 600;
  color: #282828; 
}

.categoryName {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.categoriesPageTitle h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  margin: 0 0 10px 0;
  white-space: nowrap;
  color: #282828;
}
.categoryName {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #282828;
}
.categoryName:hover {
    color: #0D50FF;
}
.categoriesPageTitle h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  margin: 0 0 10px 0;
  white-space: nowrap;
  color: #282828;
}

@media (max-width: 1200px) {
.productsContainer {
grid-template-columns: repeat(3, 1fr);
  
}
}


@media (max-width: 950px) {
.productsContainer {
grid-template-columns: repeat(2, 1fr);
  
}
}

@media (max-width: 768px) {
.productsContainer {
grid-template-columns: repeat(1, 1fr);
  
}
}

@media (max-width: 660px) {

}

@media (max-width: 480px) {
 
}

@media (max-width: 390px) {

}
